<div
  class="modal fade"
  id="modalEditar"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Empleado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Nombre Empleado</label>
          <input type="text" class="form-control" [(ngModel)]="empleadoParaEditar.nombreEmpleado" />
        </div>
        <div class="mb-3">
          <label class="form-label">Departamento</label>
          <select class="form-select" [(ngModel)]="empleadoParaEditar.idDepartamento">
            <option *ngFor="let dep of listaDepartamentos" [value]="dep.idDepartamento">
              {{ dep.nombreDepartamento }}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="confirmarEdicion()">
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>
